@import "@/styles/globals.scss";

.button {
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.s {
  @include H6SB;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

.l {
  @include H3MD;
  color: $white;
  background-color: $green50;
  padding: 12px 24px;
  display: flex;
  width: 100%;
  max-width: 360px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &:hover {
    background-color: $green60;
  }

  &:active {
    background-color: $green70;
  }
}

.primary {
  background-color: $gray90;
  color: $white;
}

.secondary {
  background-color: $green50;
  color: $white;

  &:hover {
    background-color: $green60;
  }

  &:active {
    background-color: $green70;
  }
}

.tertiary {
  background-color: $gray5;
  color: $gray90;

  &:hover {
    background-color: $gray30;
  }

  &:active {
    background-color: $gray40;
  }
}

.disabled {
  background-color: $gray20;
  color: $white;
  cursor: not-allowed;

  &:hover {
    background-color: $gray20;
  }

  &:active {
    background-color: $gray20;
  }
}
