.imageWrapper {
  position: relative;
  width: fit-content;
}

.removeImage {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.image {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
