@import "@/styles/globals.scss";

.layout {
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding-top: calc(83px + 24px);
  padding-left: calc(330px + 40px);
  padding-right: 40px;
  padding-bottom: 150px;
}
