@import "@/styles/globals.scss";

.layout {
  width: 100%;
  display: flex;
  min-height: 100vh;
  height: 100%;

  .children {
    margin-left: 280px; // Nav 너비
    margin-top: 66px; // Header 높이
    padding-top: 22px;
    padding-left: 46px;
    padding-right: 40px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .hideChildren {
    margin-top: 66px; // Header 높이
  }
}
