@import "@/styles/globals.scss";

.remoteControl {
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translateX(-260px);
  transition: opacity 0.3s;
  opacity: 1;
  display: inline-flex;
  padding: 16px 12px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 40px;
  border: 1px solid $gray15;
  background-color: $gray10;
}

.likeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.count {
  @include H6MD;
  color: $gray90;
}

.controlButton {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    animation: pulse 0.5s ease-in-out;
  }
}

@media (max-width: 1280px) {
  .remoteControl {
    display: none;
  }
}
