@import "@/styles/globals.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 10;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .searchBar {
    width: 370px;
  }

  .cursor {
    cursor: pointer;
  }

  .uploadBtn {
    &:hover {
      animation: pulse 0.6s ease-in-out;
    }
  }
}
