@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      @include H1SB;
      color: $gray90;
    }

    .subtitle {
      @include H4MD;
      color: $gray50;
    }
  }

  .galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
  }
}
