@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.isUploadContainer {
  @extend .container;
  gap: 12px;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  background-color: $white;
  border-radius: 16px;
  border: 2px solid $gray20;

  &:focus-within {
    border: 2px solid $green50;
  }
}

.isUploadInputContainer {
  @extend .inputContainer;
  border: none;

  &:focus-within {
    border: 1px solid $green50;
  }
}

.inputContainer.error {
  border: 2px solid $error;
}

.isUploadInputContainer.error {
  border: 2px solid $error;
}

.labelContainer {
  display: flex;
}

.required {
  @include H4MD;
  color: $green50;
}

.label {
  @include H4MD;
  align-self: stretch;
  color: $gray90;
}

.isUploadLabel {
  @extend .label;
  @include H4SB;
}

.input {
  width: 100%;
  @include H5MD;
  color: $gray90;
  border: none;
  outline: none;
  padding: 0;
}

.countTotal {
  display: flex;
  @include H5MD;
  color: $gray40;
}

.count {
  color: $gray90;
}

.countGreen {
  color: $green50;
}

.error {
  color: $error;
  @include H4MD;
}
