@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding-top: calc(40px - 24px);

  .infoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .topContainer {
      display: flex;
      align-items: center;
      gap: 16px;

      .name {
        @include H1SB;
        color: $gray90;
        margin-bottom: 2px;
      }

      .date {
        @include H5MD;
        color: $gray40;
      }
    }

    .leftContainer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .description {
        @include H4MD;
        color: $gray90;
      }
    }

    .rightContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 32px;

      .follower {
        display: flex;
        gap: 6px;
        @include H4SB;
        color: $gray90;
        cursor: pointer;
      }

      .followerColor {
        color: $green50;
      }
    }

    .followEdit {
      display: flex;
      align-items: center;
      gap: 40px;

      .follow {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }

    .linkContainer {
      display: flex;
      gap: 16px;

      .link {
        @include H5MD;
        color: $gray40;
      }
    }

    .unfollowBtn {
      display: inline-flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      @include H5SB;
      color: $white;
      background-color: $gray30;
      border-radius: 40px;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: darken($gray30, 10%);
      }
    }

    .followBtn {
      @extend .unfollowBtn;
      background-color: $green50;

      &:hover {
        background-color: darken($green50, 10%);
        animation: pulse 0.6s ease-in-out;
      }

      &:active {
        animation: pulse 0.6s ease-in-out;
      }
    }
  }

  .profileImage {
    object-fit: cover;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #eeeeef;
  }
}
